@import '../../styles/_theme.module'

.mainContainer
    margin: 1.8rem 0
    padding: 0 1.6rem
    background: $background
    display: flex
    align-items: center
    width: 100%

.logo
    display: flex
    margin-right: auto

.search
    width: 1.8rem
    height: 2.4rem
    cursor: pointer
    color: #fff
    transition: color 0.3s ease
    &:hover
        color: $red

.menu
    width: 1.8rem
    height: 2.4rem
    margin-right: 1.6rem
    cursor: pointer
    color: #fff
    transition: color 0.3s ease
    &:hover
        color: $red
