@import '../../styles/_theme.module'

.mainContainer
    position: absolute
    top: 0

    padding: 1.8rem 1.6rem
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    z-index: 5
    width: 100%

.menu
    width: 3rem
    font-size: 3rem
    margin-right: auto
    cursor: pointer
    color: #fff
    transition: color 0.3s ease
    &:hover
        color: $red

.flex_1
    flex: 1

.search
    font-size: 3rem
    cursor: pointer
    color: #fff
    transition: color 0.3s ease
    &:hover
        color: $red
