@import '../../styles/_theme.module.scss'

.tags
    color: $greyAct
    padding: 0.5rem 1rem
    font-size: 1.4rem
    border: solid 0.3rem $greyPass
    border-radius: 2rem
    cursor: pointer
    font-weight: 600
    transition: color 0.3s ease, border-color 0.3s ease

    &:hover
        color: $white
        border-color: $red
