@import '../../styles/_theme.module.scss'
.post
    display: flex
    flex-direction: column
    background: $background
    padding: 6rem 1.6rem

    &_imgMain
        width: 100%
        border-radius: 1.6rem
        aspect-ratio: 3/2
        object-fit: cover
