@import '../../styles/_theme.module';

.post {
  display: flex;
  flex-direction: column;
  background: $background;
  margin-top: 3rem;

  &_presentation {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }

  &_boxImgMain {
    height: 100%;
    background: #262626aa;
    border-radius: 1.6rem;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 70%);
  }

  &_imgMain {
    border-radius: 1.6rem;
    height: 100%;
    width: 100%;
    margin-bottom: -0.3rem;
  }

  &_column {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &_boxReadTimeAndDate {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &_readTime {
    color: $greySup;
  }

  &_date {
    color: $greyMedium;
  }

  &_title {
    font-size: 3.2rem;
    color: $white;
    font-weight: 800;
  }

  &_listOfTags {
    display: flex;
    gap: 0.5rem;
  }

  &_tagItem {
    border-color: $greyPass;
  }
}

@media only screen and (min-width: $brackPointToTablet) {
  .post {
    &_presentation {
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      margin: 0 auto;
    }

    &_column {
      gap: 2rem;
      flex: 1;
      min-width: 47rem;
    }

    &_imgMain {
      max-width: 64rem;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .post {
    &_title {
      font-size: 4.6rem;
    }
  }
}