@import '../../../styles/_theme.module';

.mainContainer {
  padding: 3rem 1.6rem;
  background: $background;
  max-width: 134rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &_flex {
    display: flex;
    flex-direction: column;
  }
}

.z_index {
  z-index: 0;
}

@media only screen and (min-width: $brackPointToTablet) {
  .mainContainer {
    &_flex {
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
      flex-wrap: wrap;

      &_flex_width1 {
        flex: 1;
      }
    }
  }
}