@import '#/styles/_theme.module'

.row
    display: flex
    flex-direction: row
    gap: 0.5rem

.telegram,
.github
    cursor: pointer
    height: 3rem
    align-self: baseline
    background: $greyMini
    border-radius: 0.8rem
    transition: background 0.3s ease
    padding: 0.5rem
    display: flex
    align-items: center
    &:hover
        background: $greyPass
        & svg path
            fill: $greySup

    & svg
        height: 100%
        & path
            transition: fill 0.3s ease
            fill: $greyAct

.menu
    width: 2.5rem
    font-size: 3rem
    margin-right: auto
    cursor: pointer
    transition: stroke 0.3s ease
    stroke: $greyMedium
    &:hover
        stroke: $white

.search
    width: 2.5rem
    font-size: 3rem
    cursor: pointer
    stroke: $greyMedium
    fill: none
    transition: stroke 0.3s ease
    &:hover
        stroke: $white

.arrow
    width: 2.5rem
    fill: #aaa
    stroke: #aaa
    cursor: pointer

    &_left
        transform: rotate(180deg)
    &_up
        transform: rotate(270deg)
    &_down
        transform: rotate(90deg)
    &_rigth
        transform: rotate(0deg)

.starWrapper
    cursor: pointer
    width: 3rem
    height: 3rem
    margin-left: auto
    background: $greyMini
    border-radius: 0.4rem
    display: flex
    justify-content: center
    align-items: center
.star
    width: 2.2rem
    height: 2.2rem
    z-index: 1
    stroke: $greyAct

.technologies,
.tecnologies
    position: relative
    display: flex
    flex-direction: column
    align-items: center

    & > h4
        display: inline
        white-space: nowrap
        position: absolute
        top: -2.5rem
        visibility: hidden
        opacity: 0
        transition: visibility 0s, opacity 0.2s ease
        background: $red
        padding: 0.3rem 0.5rem
        border-radius: 0.8rem
        line-height: 1
        font-size: 1.2rem
        z-index: 100
        letter-spacing: 0.1rem
    &:hover > h4
        visibility: visible
        color: $greySup
        opacity: 1

    &_icon
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        width: 6.5rem
        height: 6.5rem
        background: #000
        border-radius: 0.8rem
        padding: 1rem
        position: relative
        transition: background 0.3s ease
        z-index: 100
