@import '../styles/_theme.module.scss'
.firtsScreen
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: -6rem
    &::before
        content: ''
        width: 100%
        height: 100%
        background: url('/assets/background_home@2x.png') $background no-repeat
        background-size: cover
        position: absolute
        left: 0

    &::after
        content: ''
        display: block
        width: 100%
        height: 100%
        background: $background
        opacity: 0.7
        position: absolute

    &_logo
        z-index: 1
        margin-top: 20rem

    &_titulo
        z-index: 1
        color: $greyMedium

    &_listOfCardPost
        margin-top: 20rem
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        gap: 5rem

@media (min-width: $brackPointToTablet)

    .firtsScreen

        &::before
            content: ''
            width: 100%
            height: 100%
            background: url('/assets/background_home.jpg') $background no-repeat
            background-size: cover
            position: absolute
            left: 0
