@import '../../styles/_theme.module.scss'

.footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2rem 0
    color: #aaa
    font-size: 1.3rem
    background: $background

    &_right
        &_x
            color: red
