@import './theme.module';

:root {
    font-size: 10px;
}

::selection {
    color: rgb(255, 255, 255);
    background: $red;
}

html,
body {
    background-color: $background;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Inter, 'Segoe UI', 'Helvetica Neue', sans-serif;
    // font-family: Arial, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
    color: rgb(90, 90, 90);
    transition: color 0.8s ease;

    // &:hover {
    // color: #FFF;
    // color: #0004
    // }
    &::-webkit-scrollbar {
        width: 0.5vw;

        &-thumb {
            box-shadow: inset 0 0 0 1vw;

            &-button {
                width: 0;
                height: 0;
                display: none;
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}