@import '../../../styles/_theme.module'

.mainContainer
    position: absolute
    top: 0
    padding: 1.8rem 1.6rem
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    z-index: 5
    width: 100%

.listMenuAnchor
    display: none

.flex_1
    flex: 1

.logo
    display: none

@media (min-width: 800px)

    .mainContainer
        padding: 2.8rem 2.2rem

    .logo
        display: flex
        width: 10rem

    .listMenuAnchor
        display: flex

    .menu
        display: none

    .search
        // display: none
