@import '../../../styles/_theme.module.scss'

.miniTags
    cursor: pointer
    padding: 0.4rem 0.8rem
    border-radius: 10rem
    font-size: 1.4rem
    border: solid 0.2rem #fff5
    // color: $greyAct
    // background: $transparent
    // transition: border 0.3s ease, color 0.3s ease, background 0.3s ease
    // &:hover
    border-color: $red
    color: $white
    background: $greyMini
